<nav class="navbar navbar-light bg-dark ">
    <a class="navbar-brand  " href="#" style="color:rgb(85, 98, 237);"><b>&#169; HAFC Bank Pvt.Ltd </b></a>
    <span class="quote text-light">Giving you freedom...</span>
</nav>

<table style="color: white;">
    <thead>
        <tr>
            <th>Amount</th>
            <th>Type</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>1000</th>
            <th>CREDIT</th>
        </tr>
        <tr>
            <th>1000</th>
            <th>DEBIT</th>
        </tr>
    </tbody>
</table>
<a style="color: blue; margin-left: 900px; margin-top: auto;" routerLink="/dashboard">Home</a>